* {
    margin: 0;
    padding: 0;

}

html, body {
    height: 100%;
}

body {
    display: flex;
    flex-direction: column;
    background-color:lightsteelblue;
}
.text-center {
    text-align: center;
}

header {
    border: 5px solid steelblue;
    background-color:mintcream;
}


.quiz-wrapper {
    margin: 10% 25% 10%;
    display: flex;
    flex-direction: column;
    width: 50%;
    justify-content: center;
    align-items: center;
    text-align: center;
    padding: 1%;
    border: 5px solid steelblue;
    background-color:mintcream;
    
}

.quiz-wrapper h4 {
    font-size: 110%;
    border: 2px solid steelblue;
    padding: 1%
}
.quiz-wrapper button {
    margin: 8px;
    padding: 1%;
    background-color: lightsteelblue;
    border-radius: 6px;
}

.answer {
    display: flex;
    justify-content: center;
    width: 50%;
    margin: 2% 27% 2%;
    text-align: center;
    /* margin-top: 5%; */
    border-top: 4px solid steelblue;
    opacity: 75%;

}

.quiz-end {
    margin: 1%;
    font-size: 1.5rem;
}


.hide {
    display: none;
}

#right {
    font-size: 150%;
    color:darkgreen;
}

#wrong {
    font-size: 150%;
    color:tomato;
}   